/* Add a unique class for body styling */
.body-class {
    font-family: 'Open Sans', sans-serif; /* Example for body text */
}

.main-heading h1 {
    font-family: 'Decoy', cursive; /* Main headers */
}

h2, h3, p {
    font-family: 'basic-sans', sans-serif; /* Subheadings and descriptions */
    font-weight: 400;
    font-style: normal;
}

/* Add a unique class for subheadings and paragraphs */
.subheading h2, .subheading h3, .text p {
    font-family: 'basic-sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}
