/* Add a unique class for body styling */
.body-class {
    font-family: 'Open Sans', sans-serif; /* Example for body text */
}

.main-heading h1 {
    font-family: 'Decoy', cursive; /* Main headers */
}

h2, h3, p {
    font-family: 'basic-sans', sans-serif; /* Subheadings and descriptions */
    font-weight: 400;
    font-style: normal;
}
/* Add unique classes for headings and paragraphs */
.heading-class h2, .heading-class h3, .text-class p {
    font-family: 'basic-sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}
