/* styles/Home.module.css */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .coverPage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  

/* Container for the logos */
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  padding: 20px; /* Optional: add padding around the logos */
}

/* Individual logo styles */
.logo {
  width: 100px; /* Adjust the size as needed */
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

/* Keyframe animation for fading in the logos */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
  